@import "./_variables.scss";

body {
  background-color: white !important;
  background-repeat: repeat;
}
#logo {
  width: 100%;
}

#title,
.jumbotron p {
  text-align: left;
}

#title {
  font-family: "Ubuntu Mono", monospace;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 5vw;
}

header {
  background-color: $primary;
}

main {
}

footer {
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 512px;
  box-sizing: border-box;
  margin: 1rem 0.25em;
}

@media screen and (max-width: 480px) {
  .card {
    flex: 1 0 320px;
    margin: 0.25em 0.25em;
  }
}

#seriesEvents {
  width: 100%;
  background-color: $primary;
  padding: 1rem;
  margin-top: 2rem;
}

#seriesEvents h1 {
  width: 100%;
  display: flex;
  flex: 0 0 100%;
}

#mainEvents {
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
}

/*add "clear" after first child*/
#mainEvents > h1:nth-child(1) {
  margin-right: calc(100% - 512px);
}
